.DS_Store
.idea

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.iml

npm-debug.log
node_modules
coverage.html
coverage

# config
config/*.yaml
!config/default.yaml

# docusaurus
lib/core/metadata.js
lib/core/MetadataBlog.js

website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*
