<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Clay Login</title>
</head>
<body>
  <h1>Clay Login</h1>
  <p>Please choose the provider attached to your account</p>
  <a href="{{path}}/auth/twitter" title="Log in with Twitter">Twitter</a>
  <a href="{{path}}/auth/google" title="Log in with Google">Google</a>
  <a href="{{path}}/auth/slack" title="Log in with Slack">Slack</a>
</body>
</html>
